{% extends 'base.html.twig' %}
{% block body %}
{% block title %}New Page Title Goes Here{% endblock%}
<h1 class="text-2xl">Hey World</h1>

<div>
  Browse our {{ ships|length }} different Starships.

  {% if ships|length > 2 %}
  {# is this too many #}
    Plenty of ships
  {% endif %}
</div>

<div>
  <table>
  <tr>
    <th>Name</th>
    <td>
    <a href="{{path('app_starship_show', {id: selectedShip.id})}}">
    {{selectedShip.name}}
    </a>
    </td>
  </tr>
  <img src="{{asset('images/queen_mandela.png')}}" />
  </table>
</div>
{% endblock %}